:root {
  --branding-color: #071596;
  --accent-color: #ff8b67;
  --base-color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", cursive;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 46px;
}

h4 {
  font-size: 36px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: justify;
}

.navbar {
  background: var(--base-color) !important;
}

nav a,
.nav-link {
  color: black !important;
  margin-left: 12px;
  margin-right: 12px;
}

nav a:hover,
.nav-link:hover {
  color: black !important;
  opacity: 50%;
}

.navbar-expand-lg,
.navbar-collapse,
.offcanvas-body {
  justify-content: right;
}

.navbar-toggler {
  color: rgba(0, 0, 0, 0) !important;
  border-color: rgba(0, 0, 0, 0) !important;
}

.logo {
  width: 30px;
}

.hero {
  background-color: var(--base-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h3,
.content h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.hero h1 {
  font-size: 78px;
}

.hero h2,
.content-container h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 2;
}

.content-container {
  padding: 160px 20px 0 20px;
}

.content {
  margin: 30px;
}

.btn-cta {
  background-color: var(--accent-color);
  border-radius: 50px;
  color: #ffff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}

.btn-cta:hover {
  border: var(--accent-color) 1px solid;
  border-radius: 50px;
  color: var(--accent-color);
  background-color: transparent;
}

.btn-branding,
.btn-hidden {
  border: var(--branding-color) 1px solid;
  border-radius: 50px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}

.btn-hidden {
  margin-left: 100px;
  margin-right: 100px;
}

.btn-branding:hover,
.btn-hidden:hover {
  color: white;
  background-color: var(--branding-color);
}

.btn-branding-blue {
  background-color: var(--branding-color);
  border-radius: 50px;
  color: #ffff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}

.btn-branding-blue:hover {
  border: var(--branding-color) 1px solid;
  border-radius: 50px;
  color: var(--branding-color);
  background-color: transparent;
}

.description {
  padding: 80px 0px 80px 60px;
}

footer {
  margin: 60px 0;
}

footer .contact-section {
  background-color: rgb(255, 139, 103, 0.45);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-section p {
  margin: 0;
}

footer .contact-section a {
  margin-top: 10px;
}

footer .social-links {
  margin-top: 55px;
  margin-bottom: 50px;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--base-color);
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

footer .github-link {
  font-size: 12px;
  text-decoration: none;
  color: black;
  margin: 0;
  line-height: 1;
}

footer .github-link a:hover {
  color: var(--branding-color);
}

@media (max-width: 960px) {
  .hero {
    padding: 80px 20px;
  }

  h1 {
    font-size: 52px;
    line-height: 1.5;
  }

  h2 {
    font-size: 38px;
  }

  h4 {
    font-size: 24px;
  }

  .btn {
    font-size: 16px;
  }

  .home-content {
    padding: 10px;
  }

  .content-container {
    text-align: center;
  }

  footer .contact-section {
    padding: 30px;
  }

  footer .contact-section a {
    margin-top: 5px;
  }
}
