:root {
  --branding-color: #071596;
  --branding-color-2: #050a30;
  --accent-color: #ff8b67;
  --accent-color-2: #ffb59f;
  --gradient-color: #fc8d6e;
  --base-color: #f1f1f1;
  --black-body: #171717;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 36px;
}

p,
a {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  text-align: justify;
}

.home {
  background: linear-gradient(to top, #ffff 20%, #fc8d6e 100%);
  padding: 10px 10px 0 10px;
}

.about {
  background: linear-gradient(to top, #ffff 40%, #fc8d6e 100%);
  padding: 10px 10px 0 10px;
}

.work {
  padding: 10px 10px 0 10px;
}

.contact {
  background: linear-gradient(to top, #fc8d6e 0%, #bfd9fe 100%);
  padding: 10px 10px 0 10px;
}

.contact-black {
  background: var(--black-body);
  padding: 10px 10px 0 10px;
}

.contact-black nav a,
.contact-black .nav-link {
  color: var(--base-color) !important;
  margin-left: 12px;
  margin-right: 12px;
}

.contact-black nav a:hover,
.contact-black .nav-link:hover {
  color: var(--base-color) !important;
  opacity: 50%;
}

.contact-black .active {
  color: var(--base-color) !important;
}

.work-portfolio h1 {
  font-size: 54px;
  font-weight: 300;
}

.contact-black .content h1,
.contact-black .content h4,
.contact-black .content a,
.footer-black h4,
.footer-black p {
  color: var(--base-color);
}

.contact-black .content h4 {
  font-weight: 150;
  font-size: 30px;
  margin-bottom: 15px;
}

.contact-black .content h1 {
  font-weight: 600;
  font-size: 74px;
}

.contact-black .content a {
  font-size: 16px;
  margin-bottom: 30px !important;
}

.contact-black .content h3 {
  color: var(--accent-color);
}

.contact-black .content {
  margin: 60px 30px 30px 30px;
}

.footer-black {
  padding: 0;
}

.footer-black .social-links {
  margin-top: 160px;
  padding-bottom: 20px;
}

.footer-black .social-links a {
  margin: 0 20px;
  color: var(--accent-color);
  background-color: var(--base-color);
  padding: 10px 18px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

.footer-black .social-links a:hover {
  color: var(--base-color);
  background-color: var(--accent-color);
}

.navbar {
  background: transparent !important;
}

.navbar-nav {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

nav a,
.nav-link {
  color: black !important;
  margin-left: 12px;
  margin-right: 12px;
}

nav a:hover,
.nav-link:hover {
  color: black !important;
  opacity: 50%;
}

.active {
  color: black !important;
}

.navbar-expand-lg,
.navbar-collapse,
.offcanvas-body {
  justify-content: right;
}

.navbar-toggler {
  color: rgba(0, 0, 0, 0) !important;
  border-color: rgba(0, 0, 0, 0) !important;
}

.logo {
  height: 25px;
}

.content-container {
  padding: 20px 60px 0 60px;
}

.hero-intro {
  margin-top: 100px;
}

.boaquarius-name-image {
  height: auto;
  width: auto;
  display: block;
}

.home h1 {
  font-size: 78px;
}

.home h2,
.content-container h2,
.home h3,
.content h3 {
  font-family: "Poppins", sans-serif;
  font-size: 27px;
  font-weight: 200;
  margin-bottom: 8px;
}

.home h2,
.content-container h2 {
  line-height: 1.5;
}

.hero-cta {
  margin-top: 65px;
  margin-bottom: 65px;
}

.hero-image {
  width: 500px;
  margin-left: 80px;
  margin-top: 60px;
}

.about-image {
  margin-left: 20px;
  margin-top: 20px;
}

.content {
  margin: 30px;
}

.home-content h2 {
  font-size: 30px;
}

.description h2 {
  font-weight: 400;
}

.description h5 {
  font-size: 18px;
  font-weight: 200;
}

.btn-cta {
  background-color: var(--accent-color);
  border-radius: 50px;
  color: #ffff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}

.btn-cta:hover {
  border: var(--accent-color) 1px solid;
  border-radius: 50px;
  color: var(--accent-color);
  background-color: transparent;
}

.btn-branding,
.btn-hidden {
  border: var(--branding-color) 1px solid;
  border-radius: 50px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}

.btn-hidden {
  margin-left: 100px;
  margin-right: 100px;
}

.btn-branding:hover,
.btn-hidden:hover {
  color: white;
  background-color: var(--branding-color);
}

.btn-branding-blue {
  background-color: var(--branding-color);
  border-radius: 50px;
  color: #ffff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}

.btn-branding-blue:hover {
  border: var(--branding-color) 1px solid;
  border-radius: 50px;
  color: var(--branding-color);
  background-color: transparent;
}

.description {
  padding: 80px 0px 80px 60px;
}

footer {
  padding: 60px 0;
}

footer .contact-section {
  background-color: var(--accent-color-2);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-section p {
  margin: 0;
}

footer .contact-section a {
  margin-top: 10px;
}

footer .social-links {
  margin-top: 55px;
  margin-bottom: 0;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--base-color);
  padding: 10px 18px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

.ending .github-link {
  font-size: 10px;
  text-decoration: none;
  color: var(--base-color);
  margin: 0;
  line-height: 1;
}

.ending .github-link a:hover {
  color: var(--accent-color);
}

.ending {
  background-color: var(--black-body);
  padding: 20px;
}

@media (max-width: 1204px) {
  .hero-image {
    width: 350px;
    margin-left: 100px;
    margin-top: 80px;
  }
}

@media (max-width: 994px) {
  .hero-row {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-intro {
    margin-top: 25px;
    padding-left: 140px;
    padding-right: 80px;
  }

  .hero-cta {
    margin-top: 45px;
    margin-bottom: 45px;
    display: block;
    text-align: center;
  }

  .hero-image {
    width: 400px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 52px;
    line-height: 1.5;
  }

  h2 {
    font-size: 38px;
  }

  h4 {
    font-size: 24px;
  }

  .btn {
    font-size: 16px;
  }

  .home-content {
    padding: 10px;
  }

  .content-container {
    text-align: center;
  }

  footer .contact-section {
    padding: 30px;
  }

  footer .contact-section a {
    margin-top: 5px;
  }

  .about-image {
    width: 400px;
    margin-left: 0;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .hero-intro {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
  }

  .content-container {
    padding: 10px 20px 0 20px;
  }

  footer h4,
  footer p {
    text-align: left;
  }

  .btn-branding-blue {
    font-size: 14px;
    line-height: 20px;
    padding: 15px 30px;
  }
}

@media (max-width: 576px) {
  .hero-intro {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-image {
    width: 300px;
  }

  .home h2,
  .content-container h2,
  .home-content h2,
  .home h3,
  .content h3 {
    font-size: 20px;
  }

  .content {
    margin: 0;
  }

  footer h4 {
    font-size: 18px;
  }

  footer p {
    font-size: 12px;
    line-height: 1.5;
  }

  .btn-branding-blue {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px;
    margin-top: 8px;
    margin-left: 8px;
  }

  .contact-black .content h1 {
    font-weight: 600;
    font-size: 54px;
  }

  .contact-black .content h4 {
    font-weight: 150;
    font-size: 24px;
  }

  .footer-black .social-links {
    margin-top: 50px;
    padding-bottom: 20px;
  }
}
